# Alves Racing - exemplo de ensure
# Requisitos devem iniciar antes:
ensure oxmysql
ensure ox_lib
ensure qbx_core

# Opcional: necessario apenas para /tuning, /bennys, /custom e /customizar
# ensure qbx_customs

# Tema da UI
setr alves:themePrimary "#8b5cf6"
setr alves:themeBackground "#080712"

# Resources do pacote
ensure alves-racing-core
ensure alves-racingapp
