# Alves Racing - exemplo de ensure
# Requisitos devem iniciar antes:
ensure oxmysql
ensure ox_lib
ensure qbx_core

# Se usar veículos addon/custom, inicie o resource/pasta deles antes do alves-racingapp.
# Exemplo:
# ensure [carros]
# ensure vipcars

# Tema da UI/tablet
setr alves:themePrimary "#8b5cf6"
setr alves:themeBackground "#080712"

# Script de corridas
ensure alves-racingapp
